.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* div.Back {
  width: 30px;
  height: auto;
  background-color: black;

} */

footer{
  background-color: #262629;
  width:35cm;
  height: 700px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;
  
}

h1 {
  color: whitesmoke;
  font-size: 80px;
  display: flex;
  /* justify-content: left; */
  margin-left: 50px; 
  
}

p{
  font-size: 20px;
  color: whitesmoke;
  justify-content: space-between;
  display: flex;
  margin-left: 50px;
  
}

.btn {

  margin-left: 50px;
  padding: 15px;
  width: 130px;
  height: auto;
}

.footerTwo{
  background-color: white;
  width:35cm;
  height: 600px;
}

.pTag{
  color: #8b8383;
  font-size: 23px;
  font-weight: bolder;
  
  
}

.pTagPos{
  
  margin-right: 40px;
  text-align: left;
}

h4 {
  font-size: 35px;
  
}

.tagsizing {
  
  margin-right: 150px;
}

.logo{
  height: 60px;
  width: auto;
  margin-left: 50px;
}

.logo2{
  height: 60px;
  width: auto;
  margin-left: 200px;
  /* margin-bottom: 200px; */
}

.React{
  margin-left: 40px;
}